.tap-ul {
  height: 1.226666rem;
  line-height: 1.226666rem;
  border-bottom: 1px solid #eee;
  display: none;
}

.tap-ul li {
  display: inline-block;
  width: 49%;
  text-align: center;
}

.tap-ul .active {
  padding-bottom: 0.38rem;
  border-bottom: 3px solid #34b1ff;
}

.btn-ct {
  border-top: 1px solid #38adff;
  height: 1.333334rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.btn-ct a {
  float: left;
  width: 50%;
  height: 1.333334rem;
  line-height: 1.333334rem;
  color: #38adff;
  background-color: #fff;
  text-decoration: none;
}

.btn-ct .active {
  color: #fff;
  background-color: #38adff;
}

.tuandai-ct {
  padding-bottom: 1.333334rem;
}

/* myScore */

.header {
  height: 1.226666rem;
  line-height: 1.226666rem;
  text-align: left;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  margin-bottom: 0.533334rem;
}

.year-select {
  display: inline-block;
  color: #64bdff;
  /*font-size: 16px;*/
}

.select-bar .select-icon {
  display: inline-block;
  width: 0.4rem;
  height: 0.16rem;
  background: url('../../assets/score/arrow-down.png') left top no-repeat;
  background-size: auto 100%;
  vertical-align: middle;
  margin-left: 0.266666rem;
}

.select-bar {
  height: 0.8rem;
  line-height: 0.8rem;
  border-right: 1px solid #e6e6e6;
  display: inline-block;
  padding: 0 0.32rem;
  position: relative;
  z-index: 2;
  background-color: #fff;
}

.select-ct {
  position: absolute;
  height: 1.226666rem;
  line-height: 1.226666rem;
  left: 2.4rem;
  top: 0;
  width: 9.333334rem;
  z-index: 1;
}

[data-dpr="1"] .select-ct {
  font-size: 16px;
}

[data-dpr="2"] .select-ct {
  font-size: 32px;
}

[data-dpr="3"] .select-ct {
  font-size: 48px;
}

.select-ct span {
  color: #999;
  width: 1.866666rem;
  display: inline-block;
  text-align: center;
}

.select-ct .active {
  color: #38adff;
}

.score-content {
  padding-top: 0.266666rem;
}

.score-detail {
  /*width: 60%;*/
  width: 5.5rem;
  height: 5rem;
  margin: auto;
  background: url('../../assets/score/person-score-circle-2.png') left top no-repeat;
  background-size: 100% auto;
  padding-top: 1.1rem;
  color: #999;
  margin-bottom: 0.533334rem;
}

[data-dpr="1"] .score-detail {
  font-size: 18px;
}

[data-dpr="2"] .score-detail {
  font-size: 36px;
}

[data-dpr="3"] .score-detail {
  font-size: 54px;
}

.score-detail div {
  margin-bottom: 0.213334rem;
}

[data-dpr="1"] .score-detail div {
  font-size: 16px;
}

[data-dpr="2"] .score-detail div {
  font-size: 32px;
}

[data-dpr="3"] .score-detail div {
  font-size: 48px;
}

.score-ct {
  margin-top: 0.126666rem;
}

.score-ct .score-num {
  color: #38adff;
}

[data-dpr="1"] .score-ct .score-num {
  font-size: 42px;
}

[data-dpr="2"] .score-ct .score-num {
  font-size: 84px;
}

[data-dpr="3"] .score-ct .score-num {
  font-size: 126px;
}

.score-ct .score-prefix {
  color: #38adff;
}

[data-dpr="1"] .score-ct .score-prefix {
  font-size: 22px;
}

[data-dpr="2"] .score-ct .score-prefix {
  font-size: 44px;
}

[data-dpr="3"] .score-ct .score-prefix {
  font-size: 66px;
}

.score-title {
  text-align: left;
  margin-left: 0.4rem;
  margin-bottom: 0.266666rem;
  color: #999;
}

.score-title .mark {
  display: inline-block;
  background-color: #38adff;
  width: 0.213334rem;
  height: 0.213334rem;
  border-radius: 50%;
  margin-right: 0.213334rem;
  vertical-align: middle;
}

.score-list {
  margin-left: 0.4rem;
  text-align: left;
}

.score-list i {
  font-style: normal;
}

.score-list li {
  border-bottom: 1px solid #e6e6e6;
  padding: 0.4rem 0.4rem 0.4rem 0;
}

.score-list li i {
  float: right;
}

.score-tip {
  padding: 0.4rem;
  background-color: #f7f7f7;
}

.score-tip .score-tip-icon {
  width: 0.48rem;
  height: 0.48rem;
  display: inline-block;
  background: url('../../assets/score/person-score-icon-02.png');
  background-size: contain;
  vertical-align: middle;
  margin-right: 0.106666rem;
}

.score-tip span {
  vertical-align: middle;
  color: #999;
}

.search-ct {
  border: 1.5px solid #38adff;
  margin: 0 0.32rem 0.8rem 0.32rem;
  padding: 0.213334rem 0;
  border-radius: 4px;
  text-align: left;
}

.search-ct input {
  border: transparent;
  padding-left: 0.213334rem;
  color: #666;
  pointer-events: none;
}

.search-ct .search-icon {
  width: 0.4rem;
  height: 0.266666rem;
  background: url('../../assets/score/arrow-down.png') left top no-repeat;
  background-size: 100% auto;
  float: right;
  margin-right: 0.213334rem;
  position: relative;
  top: 0.106666rem;
}

.orgScore-tip {
  position: absolute;
  bottom: 1.333334rem;
  background-color: #fff;
  width: 100%;
}

.search-no-data {
  text-align: center;
  padding-top: 1.133334rem;
}

.search-no-data img {
  width: 60%;
}

::-webkit-input-placeholder {
  color: #999;
}

.score-detail-url {
  float: right;
  color: #38adff;
  margin-right: 0.4rem;
}

[data-dpr="1"] .score-detail-url {
  font-size: 18px;
}

[data-dpr="2"] .score-detail-url {
  font-size: 36px;
}

[data-dpr="3"] .score-detail-url {
  font-size: 54px;
}

/* score-page */

.score-page {
  background-color: #fff;
  color: #999;
}

.score-page .rank-ct {
  padding: 1rem 0 .4rem;
}

.score-page .total-rank-ct {
  margin: 0 auto;
  width: 4rem;
  height: 3.2rem;
  background: url("../../assets/score/my_scorebg_high.png") center top no-repeat;
  background-size: auto 100%;
}

.score-page .total-rank-bg {
  text-align: center;
  padding-top: .9rem;
}

.score-page .total-rank-num {
  color: #ff8806;
}
[data-dpr="2"] .score-page .total-rank-num{
  font-size: 44px;
}

.score-page .total-rank-bg p {
  color: #999999;
  margin: .1rem 0;
}

.score-page .rank-ct li {
  width: 33.33%;
  float: left;
  background: url("../../assets/score/my_credit_line.png") right center no-repeat;
  text-align: center;
  background-size: auto 88%;
}

.score-page .rank-list-no-bg {
  background: 0% 0% !important;
}

.score-page .rank-list {
  background: url("../../assets/score/my_credit_card_circular_hole_left.png") left bottom no-repeat;
  padding: .8rem .5rem .5rem;
  height: 4.5rem;
  background-size: 100% auto;
  /*padding-top: 2rem;*/
}

.score-page .num {
  color: #333;
  /*font-size: 1rem;*/
  font-weight: bold;
}
[data-dpr="1"] .score-page .num {
  font-size: 16px;
}
[data-dpr="2"] .score-page .num {
  font-size: 32px;
}
[data-dpr="3"] .score-page .num {
  font-size: 48px;
}

.score-page .rank-list p {
  color: #999;
  margin: .4rem 0;
}

.score-page .group-score-list {
  height: 2.5rem;
}

.score-page .group-score-list p {
  margin: 0;
  margin-top: .1rem;
}

.score-page .group-score-list li {
  width: 50%;
  float: left;
  background: url("../../assets/score/my_credit_line.png") right center no-repeat;
  text-align: center;
  background-size: auto 88%;
}

.score-page .group-score-list li>div {
  margin-left: 1rem;
  text-align: left;
}

.score-page i {
  font-style: normal;
}

.score-page .total-score {
  color: #ffa800;
}
[data-dpr="1"] .score-page .total-score ,[data-dpr="1"] .score-page .month-score{
  font-size: 22px;
}
[data-dpr="2"] .score-page .total-score, [data-dpr="2"] .score-page .month-score {
  font-size: 44px;
}
[data-dpr="3"] .score-page .total-score, [data-dpr="3"] .score-page .month-score{
  font-size: 66px;
}
.score-page .month-score {
  color: #00ba16;
}
.score-page .total-score-mark {
  background-color: #ffb400;
}

.score-page .mark {
  width: .6rem;
  height: .15rem;
  border-radius: .15rem;
  margin-top: .2rem;
}

.score-page .month-score-mark {
  background-color: #00ba16;
}

.score-page .score-item span {
  /*width: 7rem;*/
  width: 50%;
  text-align: left;
  float: left;
  /*margin-left: 2rem;*/
  box-sizing: border-box;
  padding-left: 1rem;
}


/*.score-page .score-item>span:nth-child(2){margin-left: 3rem;}*/

.score-page .score-item i {
  font-style: normal;
  color: #333;
  font-weight: bold;
}

.score-page .score-item label {
}
.score-page .score-item {
  height: 1rem;
}

.score-page .score-detail-ct {
  padding-bottom: 1rem;
}

.search-list {
  padding-left: 0.32rem;
  text-align: left;
  padding-bottom: 1.40rem;
}
.search-list .item-info{line-height: 1.5;}
.search-list .search-item >* {
  display: inline-block;
  vertical-align: middle;
}

.search-list .search-item {
  padding: 0.4rem 0.32rem 0.4rem 0;
  border-bottom: 1px solid #e6e6e6;
}

.search-list .item-create {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #38adff;
  line-height: 1.2rem;
  text-align: center;
  color: #fff;
  margin-right: 0.266666rem;
}

.search-list .item-name,
.search-list .item-job {
  display: block;
}

.search-list .item-name {
  color: #333;
}

.search-list .item-job {
  color: #999;
}

.search-list .item-score {
  color: #38adff;
  float: right;
  position: relative;
  top: 0.4rem;
}

.header .van-overlay {
  top: 2.45rem !important;
}
.header .van-popup {
  top:2.45rem;
  background-color: transparent;
}
.header .year-ul {
  background-color: #fff;
  width: 2.193334rem;
  text-align: center;
}

.header .year-ul li {
  height: 1.066666rem;
  line-height: 1.066666rem;
  color: #a9a9a9;
}

[data-dpr="1"] .header .year-ul li {
  font-size: 16px;
}

[data-dpr="2"] .header .year-ul li {
  font-size: 32px;
}

[data-dpr="3"] .header .year-ul li {
  font-size: 48px;
}
*{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.myScore{width: 100% !important;}.orgScore{display: none;}
.score-index-ct .index-item-ct{padding-bottom: 1.5rem;}
.score-detail-ct .van-picker__columns .van-picker__frame, .tuandai-ct .van-popup  .van-picker__columns .van-picker__frame{position: absolute !important;}