/* 学分明细 */
.score-detail-ct{padding: 20px 0px;text-align: left;}
.search-detail-ct{background-color: #f5f5f5;height: 40px;line-height: 40px;padding-left: 12px;margin:0 12px 12px;}
.search-detail-ct .search-icon{display:inline-block;width: 22px;height: 16px;background: url('../../assets/score/icon-search.png') left top no-repeat;background-size:auto 100% ;vertical-align: middle;}
.search-detail-ct input{border: transparent;/*no*/background-color: #f5f5f5;vertical-align: middle;height: 100%;}
.score-detail-list li{padding: 18px 0;border-bottom: 1px solid #f5f5f5;/*no*/}.score-detail-list li>*{padding: 0 12px;}
.score-detail-list .detail-item-develop{/*display: none;*/background-color: #f5f5f5;color: #ababab;padding: 12px;line-height: 2;}
.score-detail-list .title{font-weight:normal;color: #3b3b3b;margin-bottom: 4px;}
.score-detail-list .title>span{float: right;}
.score-detail-list .add-score{color: #ff6c00;}.score-detail-list .minus-score{color: #3dd4ab;}
.score-detail-list .down-icon{display:inline-block;width: 22px;height: 8px;background: url('../../assets/score/year-select-arrow.png') right top no-repeat;background-size:auto 100% }
.score-detail-list .score-date-name{color: #b7b7b7;}.score-detail-list .score-date-name span:nth-child(2){float: right;}
.score-detail-list .item-develop-item span:nth-child(2){float: right;}
.score-detail-list{padding-bottom: 45px;}
.score-detail-ct .btn-ct{border-top: transparent;/*no*/}
.no-detail-data{width: 100%;text-align: center;padding-top: 80px;}.no-detail-data img{width: 50%;}
.filter-panel{padding: 20px 12px;}
.filter-panel .filter-title{font-size: 16px;/*px*/color: #555;margin-bottom: 20px;}
.filter-panel .filter-list{text-align: left;}
.filter-panel .filter-item{display: inline-block;width: 25%;margin: 0 8px;border: 1px solid #f0f0f0;/*no*/height: 32px;line-height: 32px;color: #3a3a3a;margin-bottom: 15px;text-align: center;}
.filter-panel .filter-list .active{color: #74c5ff;background-color: #eff9ff;}
.filter-panel span{vertical-align: middle;}.filter-panel .cut-off-line{width: 12px;height: 0;border-top: 1px solid #e8e8e8;/*no*/display: inline-block;}
.filter-panel .cut-off-line{margin-bottom: 15px;}
.filter-panel .date-filter-ct{margin-bottom: 40px;}
.filter-panel .btn-ct{text-align: center;}
.filter-panel .date-select{margin: 0;}
.filter-panel .btn-ct a{width: 45%;height: 40px;display: inline-block;line-height: 40px;text-align: center;border: 1px solid #38adff;/*no*/border-radius: 2px;/*no*/}
.filter-panel .sure-btn{background-color: #38adff;color: #fff;margin-right: 4%;}
.filter-panel .cancel-btn{background-color: #fff;color: #38adff;}
.score-detail-ct .filter-btn-ct{position: fixed;bottom: 0;width: 100%;}
.score-detail-ct .filter-btn{background-color: #38adff;width: 100%;height: 40px;line-height: 40px;font-size: 18px;/*px*/text-align: center;color: #fff;display: inline-block;border-radius: 4px;/*no*/}
