.box {
  color: #fe33ac;
  border-color: #fdcdea;
}
.box div {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.demo {
  color: green;
  /* 函数前也需要带点号 */
}
button {
  color: white;
}
a {
  color: blue;
}
